{%extends base_template%}
{%block title%}List of books{%endblock title%}
{%block bookList%}active{%endblock bookList%}
{%block content%}
<table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Author</th>
        <th scope="col">Publisher</th>
      </tr>
    </thead>
    <tbody>
        {%for book in books%}
        <tr>
            <th scope="row">{{book.id}}</th>
            {%if user.profile.is_student == True%}
                <td><a href = "{%url 'stu_book-page' book.id %}">{{book.name}}</a></td>
            {%else%}
                <td><a href = "{%url 'lib_book-page' book.id %}">{{book.name}}</a></td>
            {%endif%}
            <td>{{book.author}}</td>
            <td>{{book.pub}}</td>
        </tr>
        {%endfor%}
    </tbody>
    </table>
    <div>
        {%if books.has_other_pages%}
          {%if books.has_previous%}
            <a class = "btn btn-otline-info mb-4" href = "?page=1">First</a>
            <a class = "btn btn-otline-info mb-4" href = "?page={{books.previous_page_number}}">Previous</a>
          {%endif%}

          {%for num in books.paginator.page_range%}
            {%if num == books.number%}
              <a class = "btn btn-info mb-4" href = "?page={{num}}">{{num}}</a>
            {%elif num > books.number|add:'-3' and num < books.number|add:'3' %}
              <a class = "btn btn-otline-info mb-4" href = "?page={{num}}">{{num}}</a>
            {%endif%}
          {%endfor%} 

          {%if books.has_next%}
            <a class = "btn btn-otline-info" href = "?page={{books.next_page_number}}">Next</a>
            <a class = "btn btn-otline-info" href = "?page={{books.paginator.num_pages}}">Last</a>
          {%endif%}
        {%endif%}    
      </div>
{%endblock content%}